.animate-section {
  opacity: 1;
  will-change: transform;
}

.animate-image {
  will-change: transform, opacity;
}

.animate-text {
  will-change: transform, opacity;
}

/* Responsive */
@media (prefers-reduced-motion: reduce) {
  .animate-image, .animate-text {
    transition: none !important;
    transform: none !important;
  }
} 